body {
	background: url(../../images/buoi02/nen.png) no-repeat right bottom,url(../../images/buoi02/kim.png) no-repeat 20px 80px ;
	background-color: #820002;
	color: #FFFFFF;
	font-family: arial;
}

.A {
	font-weight: bold;
	color: #FF0000;
}

ul {
	list-style-image: url(../../images/buoi02/bullet_vuong_do.png);
}